body {
    /*Margen por arriba (para esquivar la barra superior)*/
    padding-top: 80px;
    /*Margen por la izq*/
    padding-left: 35px;
    /*Margen por la der*/
    padding-right: 35px;
    /*Ancho máximo*/
    /*width: 98%;*/
}


/* Gestión de columnas */
.column {
  float: left;
}  
.middle, .right {
  width: 40%;
}  
.left {
  width: 20%;
}


/* Cuentas */
.mostrar_cuentas {
    max-width: 100%;
    border-style: solid;
    margin-bottom: 40px;
    margin-right: 6px;
    margin-left: 6px;
    border-bottom: none;
}
.mostrar_cuentas_texto {
    margin: auto;
    width: 50%;
}


/* Ingresos */
.mostrar_ingresos {
    max-width: 100%;
    border-style: solid;
    margin-bottom: 40px;
    margin-right: 6px;
    margin-left: 6px;
    border-bottom: none;
}
.mostrar_ingresos_texto {
    margin: auto;
    width: 50%;
}
.boton_crear_ingreso {
    float: right;
    margin-right: -150px;
    margin-top: -25px
}


/* Gastos */
.mostrar_gastos {
    max-width: 100%;
    border-style: solid;
    margin-bottom: 40px;
    margin-right: 6px;
    margin-left: 6px;
    border-bottom: none;
}
.mostrar_gastos_texto {
    margin: auto;
    width: 50%;
}
.boton_crear_gasto {
    float: right;
    margin-right: -150px;
    margin-top: -25px
}