body {
    /*Margen por arriba (para esquivar la barra superior)*/
    margin-top: 100px;
    /*Margen por la izq*/
    margin-left: 35px;
    /*Margen por la der*/
    margin-right: 35px;
    /*Ancho máximo*/
    /*width: 85%;*/
}


/* Gestión de columnas */
.column {
  float: left;
}  
.middle, .right {
  width: 40%;
}  
.left {
  width: 20%;
}


/* Cuentas */
.mostrar_cuentas {
    max-width: 100%;
    border-style: solid;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px;
}
.mostrar_cuentas_texto {
    margin: auto;
    width: 50%;
}


/* Ingresos */
.mostrar_ingresos {
    max-width: 100%;
    border-style: solid;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px;
}
.mostrar_ingresos_texto {
    margin: auto;
    width: 50%;
}
.boton_crear_ingreso {
    float: right;
    margin-right: -150px;
    margin-top: -25px
}


/* Gastos */
.mostrar_gastos {
    max-width: 100%;
    border-style: solid;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px;
}
.mostrar_gastos_texto {
    margin: auto;
    width: 50%;
}
.boton_crear_gasto {
    float: right;
    margin-right: -150px;
    margin-top: -25px
}